@page
@model Uppgift1.Pages.Shared.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<section id="courses">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h3>Kontaktinformation</h3>
    <br/>
    <p><b>Adress:</b></p>
    <p>Programmeraren Apan Bonzi</p>
    <p>
        Microsoft Corporation<br />
        One Microsoft Way<br />
        Redmond<br />
        98052-6399, Washington<br />
    </p>
    <p><b>Telefon:</b></p>
    <p>(+1) (425) 882-8080</p>
    <p><b>E-postadress:</b></p>
    <p id="mail">apanbonzi@@microsoft.com</p>
</section>